 <!-- Sidebar -->
 <ul class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar" style="background-color: rgb(1, 45, 36);">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/dashboard">
        <div class="sidebar-brand-icon rotate-n-1">
            <i class="fa-duotone fa-solid fa-box"></i>
        </div>
        <div class="sidebar-brand-text mx-3  ">Voting <strong>App</strong></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/dashboard">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Users Module
    </div>

    <!-- Nav Item - Pages -->
    <li class="nav-item">
        <a class=" nav-link" href="/vote-list">
            <i class="fas fa-fw fa-users"></i>
            <span>Voters</span>
        </a>
    </li>

    <!-- Divider -->
     <hr class="sidebar-divider my-0">

    <li class="nav-item">
        <a class="nav-link" href="/party">
            <!-- <i class="fa-solid fa-ballot fa-fw "></i>  -->
            <i class="fas fa-democrat"></i>
            <span>Parties</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">
     
    <li class="nav-item">
        <a class="nav-link" href="/position">
            <i class="fas fa-fw fa-location"></i>
            <span>Positions</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">
     
    <li class="nav-item">
        <a class="nav-link" href="/contestants">
            <i class="fas fa-fw fa-people-group"></i>
            <!-- <img class="img-profile rounded-circle"
            src="./assets/img/contestant.png"> -->
            <span>Contestants</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">
     
    <li class="nav-item">
        <a class="nav-link" href="/election">
            <i class="fas fa-fw fa-vote-yea"></i>
            <span>Elections</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">
     
    <li class="nav-item">
        <a class="nav-link" href="/users">
            <i class="fas fa-fw fa-users"></i>
            <span>Users</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>